body {
    background-image: url(./assets/Silver_Roulette-BB.png);
    background-color: darkviolet;
    color: rgb(153, 178, 202);
    font-family: 'Handlee', cursive;
    background-size: auto;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1{
    color: paleturquoise;
}

h1, h2, h3, h4{
    font-family: 'Handlee', cursive;
    font-weight: bolder;
}

input, select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 30px;
    border-bottom: solid lightslategrey 2px;
    text-align: center;
    background-color:midnightblue;
    background-image: url(./assets/In_Touch.png);
    background-repeat: no-repeat;
}

a{
    font-weight: bolder;
    color: rgb(153, 178, 202);
}

header button, #contact-info button{
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    background-color:midnightblue;
    padding: 10px;
    margin: 2%; 
    border-radius: 25px;
    color: paleturquoise;
    font-size: x-large;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header button:hover, #contact-info button:hover {
    opacity: 100%;
    box-shadow: inset 0px 0px 10px
    rgb(36, 68, 57), 0 0 15px;  
} 

header button:active, #contact-info button:active {
    opacity: 100%;
    box-shadow: inset 0px 0px 10px
    rgb(36, 68, 57), 0 0 15px;
    background-color: rgb(17, 17, 71);
}

#about-me, #example-pages, #contact-info, #digital-art{
    transition: all 0.2s ease-in-out;
    padding: 2%;
    font-size: x-large;
    background-color:midnightblue;
    border: lightslategray solid 2px;
    border-radius: 25px;
    margin: 5%;
}

#about-me:hover, #example-pages:hover, #contact-info:hover, #digital-art:hover {
    box-shadow: inset 0px 0px 10px
    rgba(175,238,238), 0 0 15px
    rgba(175,238,238);  
}

.carousel-caption{
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    width: fit-content;
    padding: 10px;
    margin: auto;
}


.carousel-inner {
    border-radius: 25px;
    border: solid black 1px;
}

#example-pages .carousel-caption{
    opacity: 80%;
}

#example-pages .carousel-caption:hover{
    opacity: 100%;
}

a:hover{
    color: paleturquoise;
} 

#digital-art:hover {
    box-shadow: inset 0px 0px 10px
    rgba(175,238,238), 0 0 15px
    rgba(175,238,238); 
}

#contact-info button{
    margin:auto;
    border-radius: 5px;
    width: 100%;
    box-shadow: inset 0px 0px 5px
    rgb(36, 68, 57), 0 0 10px; 
}

footer{
    bottom: 0%;
    margin-bottom: 0%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid lightslategrey 2px;
    text-align: center;
    background-image: url(./assets/In_Touch.png);
    background-repeat: no-repeat;
    background-color:midnightblue;
    background-size:auto;
}

@media screen and (max-width:635px) {
    #example-pages li:hover img{
        display: block;
        margin-left: 10%;
        opacity: 80%;
        border: lightslategray solid 2px;
        border-radius: 5px;
        box-shadow: inset 0px 0px 10px
        rgba(175,238,238), 0 0 15px
        rgba(175,238,238);  
        
    }
}